

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
  /*text-align: center;*/
}

h1 {
  font-weight: 100;
  margin-top: 50px;
}

h2 {
  font-weight: 300;
  font-size: 18px;
  margin-bottom: 40px;
}

.container-fluid {
	padding-right: 30px;
	padding-left: 30px;
}

button{
  border-radius: 5pt;
  font-size: 10pt;
  text-align: left;
  border: 1px solid rgba(0, 0, 0,0.9);
  background-color: #fff;
  padding: 5px 5px 5px;
  font-size: 13px;
  color: #000000;

}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.browser text {
  text-anchor: end;
}

.area {
  opacity: 0.7;
  clip-path: url(#clip);
}
.area:hover {
  opacity: 1;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

/*.col-md-4{*/
/*  height:800px;*/
/*}*/

/*select{*/
/*  max-width: 89pt;*/
/*}*/

.cat{
  text-align: left;
}

object{
  padding-top: 80pt;
  height:40%;
  transform: translate(-20px);
}

